
.form-header {
	text-align: center;

	margin-top: 100px;
	margin-bottom: 50px;
}

.form-container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

.form-footer {
	text-align: center;
	margin-top: 20px;
}
