
.form-header {
	text-align: center;

	margin-top: 100px;
	margin-bottom: 50px;
}

.form-container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#btncheckid{
	width: max-content;
}

.divide {
	display: flex;

}

.left {
	width: 100%;
	padding-right: 20px;
}
.right {
	width: 220px;
}
#showimg {
	width: 220px;
	height: 200px;
}
#file {
	align-items: center;
}

.form-group {
	margin-bottom: 15px;
}

.form-footer {
	text-align: center;
	margin-top: 20px;
}
